html {
  scroll-behavior: smooth;
}
body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: normal;
  color: $white;
  background-color: $white;
}
.container {
  padding: 0 20px;
  max-width: 1210px;
  margin: 0 auto;
}
.description-head {
  @include h4;
}
.description {
  @include h5;
}
.button {
  padding: 20px 70px;
  font-family: "Raleway", serif;
  font-size: $h4;
  font-weight: 900;
  color: $white;
  background-color: $red;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  &:hover {
    background-color: $reddark;
  }
  &:active {
    background-color: $red;
    box-shadow: 4px 4px 30px #ff4343;
  }
  @media (max-width: 1024px) {
    padding: 20px 45px;
  }
  @media (max-width: 768px) {
    padding: 20px 30px;
  }
}
