.header {
  margin-bottom: 130px;
  border-bottom: 1px solid $grey;
  @media (max-width: 1024px) {
    margin-bottom: 150px;
  }
  @media (max-width: 768px) {
    margin-bottom: 100px;
    padding: 30px;
  }
  @media (max-width: 425px) {
    margin-bottom: 50px;
  }
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
      display: flex;
      z-index: 10;
      width: 180px;
      @media (max-width: 768px) {
        width: 100px;
      }
      img:first-child {
        width: 66.7%;
      }
      img:last-child {
        width: 33.3%;
      }
    }
  }
}
.navigation {
  @media (max-width: 768px) {
    display: none;
  }
  &-list {
    display: flex;
    align-items: flex-end;
    &__item a {
      @include h6;
      position: relative;
      width: 134px;
      padding: 35px 0;
      text-align: center;
      &:active {
        color: $reddark;
        &:after {
          background-color: $reddark;
        }
      }
      @media (max-width: 1024px) {
        width: 110px;
      }
      @media (min-width: 1025px) {
        &:after {
          content: "";
          position: absolute;
          top: calc(100% - 3px);
          right: 0;
          width: 0;
          height: 3px;
          background-color: $grey;
          transition: width 0.5s ease-out;
        }
        &:hover:after {
          width: 100%;
        }
      }
    }
  }
}

.navigation-mobile {
  padding-top: 100px;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #252b49;
  }
  &-list {
    z-index: inherit;
    width: 90%;
    margin: 0 auto;
    &__item a {
      @include h6;
      padding: 20px 0;
      &:active {
        color: $reddark;
      }
      @media (max-width: 768px) {
        font-size: 1.5rem;
      }
      @media (max-width: 425px) {
        font-size: $h6mobile;
        text-align: left;
      }
    }
  }
  &.opened {
    display: flex;
  }
}
