@mixin button {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "DMSans";
  font-weight: 700;
  font-size: 1rem;
  line-height: normal;
  background-color: #ffffff;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
@mixin description {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
  color: $grey;
}
