.allbirds-header {
  padding: 11px 0;
  background-color: #ffffff;
}
.header-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @media (max-width: 1024px) {
    justify-content: space-between;
  }
}
.navigation {
  @media (max-width: 1024px) {
    display: none;
  }
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-list li + li {
  margin-left: 36px;
}
.navigation-list__item a {
  text-transform: uppercase;
  font-size: 0.75em;
  line-height: 21px;
  color: #212a2f;
  text-decoration: none;
  letter-spacing: 1.7px;
}
.logo {
  margin: 0 200px 0 auto;
  width: 120px;
  @media (max-width: 1024px) {
    margin: 0;
  }
  @media (max-width: 425px) {
    width: 100px;
  }
}
.logo img {
  width: 100%;
}
.user-actions {
  display: flex;
  align-items: center;
}
.user-actions__icons {
  display: flex;
  align-items: center;
  margin-left: 18px;
}
.user-actions__icons a {
  display: inline-block;
  width: 30px;
  font-size: 25px;
  color: #212a2f;
}
.user-actions__icons * + * {
  margin-left: 18px;
  @media (max-width: 425px) {
    margin-left: 10px;
  }
}
.user-actions__icons a:active {
  color: red;
}
