.tabs {
  padding: 100px 0;
  background-color: #ffffff;
  text-align: center;
}
.tab {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  line-height: 24px;
  text-decoration: none;
  padding: 10px 50px;
  @media (max-width: 768px) {
    padding: 7px 30px;
  }
  @media (max-width: 425px) {
    padding: 5px 18px;
    font-size: 0.8em;
  }
}
input[type="radio"] {
  display: none;
}
input:checked + .tab {
  border-bottom: 2px solid #000000;
}
input:hover + .tab {
  cursor: pointer;
}
input[type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1) {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  @media (max-width: 1024px) {
    justify-content: center;
  }
}
input[type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2) {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  @media (max-width: 1024px) {
    justify-content: center;
  }
}
input[type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3) {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  @media (max-width: 1024px) {
    justify-content: center;
  }
}
.tab-content {
  padding-top: 34px;
  display: none;
  justify-content: space-between;
  border-top: 2px solid #d3d4d5;
}
.tabs .image {
  position: relative;
}
.tabs .shop-buttons {
  gap: 12px;
  width: 70%;
  @media (max-width: 1024px) {
    gap: 10px;
  }
}
.tabs .button {
  padding: 16px 0;
  @media (max-width: 768px) {
    opacity: 0.7;
  }
}
.shop-buttons--vertical {
  flex-direction: column;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tabs .image-description {
  padding: 0 30px;
  @media (max-width: 1024px) {
    padding: 0 20px;
  }
  @media (max-width: 768px) {
    padding: 0 10px;
  }
}
.tabs .image-name {
  padding-bottom: 10px;
  border-bottom: 1px solid #d3d4d5;
}
.everyday-shop__description-info {
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    justify-content: center;
  }
}
.everyday-icon {
  width: 30px;
  margin-right: 12px;
}
.everyday-icon img {
  width: 100%;
}
.everyday-text {
  font-size: 0.875em;
  line-height: 20px;
  letter-spacing: 0.4px;
  @media (max-width: 1024px) {
    font-size: 0.75em;
  }
  @media (max-width: 768px) {
    font-size: 0.625em;
  }
}
