.header {
  background-color: white;
  padding: 15px 0;
}

.header-wrap {
  display: flex;
}

.logo {
  margin-left: 97px;
}
.user-actions {
  margin-left: auto;
}

.navigation-list {
  display: flex;
}

.navigation-list__item:not(:last-child) {
  margin-right: 28px;
}

.navigation-list__item a {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

@media (max-width: 435px) {
  .navigation {
    display: none;
  }
}
