$h1: 4rem;
$h1tablet: 3rem;
$h1mobile: 2.25rem;
$h3: 1.875rem;
$h3tablet: 1.5rem;
$h4: 1.5rem;
$h4tablet: 1.125rem;
$h5: 1.125rem;
$h5tablet: 0.875rem;
$h6: 0.8125rem;
$h6tablet: 0.75rem;
$h6mobile: 0.8125rem;
$line-height: 117%;
$red: #ff4343;
$reddark: #e71414;
$black: #2d3033;
$white: #ffffff;
$greydark: #6c7279;
$greylight: #c6cbcd;
$grey: #babbc5;
