$red: #f38281;
$yellow: #f9efcf;
$orange: #f4bf87;
$turquoise: #95e1d3;
$black: #2d3033;
$white-light: #f8f8f8;
$grey: #c6cbcd;
$white-dark: #f5f5f5;
$gradient: linear-gradient(
  360deg,
  rgba(237, 215, 137, 0.9) 0%,
  rgba(233, 130, 131, 0.9) 100%
);
$line-height: 117%;
