.about {
  padding: 100px 0;
  @media (max-width: 1024px) {
    padding: 50px 0;
  }
}
.about-wrap {
  display: flex;
  gap: 30px;
  @media (max-width: 1024px) {
    gap: 20px;
  }
  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
  &__item {
    width: calc((100% - 60px) / 3);
    position: relative;
    transition: 1s ease;
    @media (max-width: 1024px) {
      width: calc((100% - 40px) / 3);
    }
    @media (max-width: 768px) {
      margin: 0 auto;
      width: 80%;
    }
    @media (max-width: 425px) {
      width: 100%;
    }
    &:hover {
      @media (min-width: 769px) {
        background: $turquoise;
        .hover-gradient {
          opacity: 1;
          top: -16px;
          left: -16px;
          @media (max-width: 1024px) {
            top: -6px;
            left: -6px;
          }
        }
        img {
          opacity: 0;
        }
      }
    }
    img {
      transition: 1s ease;
    }
    .hover-gradient {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: $gradient;
      transition: 1s ease;
      @media (max-width: 768px) {
        height: 33%;
        z-index: 1;
        top: 67%;
      }
      &__content {
        @include absolute-center;
        text-align: center;
        color: #ffffff;
        @media (max-width: 768px) {
          top: 50%;
          left: 0;
          transform: translate(0%, -50%);
        }
        i {
          font-size: 2rem;
          margin-bottom: 30px;
          @media (max-width: 768px) {
            margin: 0 30px 0;
          }
        }
        &-text {
          display: block;
          font-weight: 500;
          font-size: 1.5rem;
          line-height: $line-height;
          text-transform: uppercase;
          @media (max-width: 768px) {
            display: inline;
          }
        }
      }
    }
  }
}
