body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: $black;
  background-color: #ffffff;
}
.container {
  padding: 0 15px;
  max-width: 1170px;
  margin: 0 auto;
}
.section-name {
  @include section-name;
  @media (max-width: 1024px) {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
}
.title {
  @include title;
  @media (max-width: 1024px) {
    font-size: 1.5rem;
    margin-bottom: 40px;
    padding-bottom: 30px;
  }
  &::after {
    @media (max-width: 768px) {
      width: 50%;
    }
  }
}
.subtitle {
  @include subtitle;
  @media (max-width: 1024px) {
    font-size: 0.875rem;
    margin-bottom: 50px;
  }
}
.description-head {
  @include description-head;
  display: block;
  margin-bottom: 30px;
  @media (max-width: 1024px) {
    font-size: 1.125rem;
  }
}
.description {
  @include description;
  @media (max-width: 1024px) {
    font-size: 0.875rem;
  }
}
.occupation {
  @include occupation;
  @media (max-width: 1024px) {
    font-size: 0.875rem;
  }
}
