.team {
  padding: 100px 0;
  @media (max-width: 1024px) {
    padding: 50px 0;
  }
}

.team-wrap {
  display: flex;
  gap: 30px;
  @media (max-width: 1024px) {
    gap: 20px;
  }
  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
  &__item {
    width: calc((100% - 60px) / 3);
    text-align: center;
    @media (max-width: 1024px) {
      width: calc((100% - 40px) / 3);
    }
    @media (max-width: 768px) {
      margin: 0 auto;
      width: 80%;
    }
    @media (max-width: 425px) {
      width: 100%;
    }
    &-image {
      position: relative;
      margin-bottom: 20px;
      transition: 1s ease;
      &:hover {
        @media (min-width: 769px) {
          & .hover-gradient {
            opacity: 1;
            top: -16px;
            left: -16px;
            @media (max-width: 1024px) {
              top: -6px;
              left: -6px;
            }
          }
        }
      }
      & img {
        width: 100%;
      }
      & .hover-gradient {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 1;
        background: $gradient;
        width: 100%;
        height: 100%;
        transition: 1s ease;
        @media (max-width: 768px) {
          background: transparent;
          opacity: 1;
        }
        &__content {
          @include absolute-center;
          display: flex;
          @media (max-width: 768px) {
            top: 100%;
            left: 100%;
            transform: translate(-100%, -100%);
          }
          & div + div {
            margin-left: 1px;
          }
          & .social-icon {
            width: 42px;
            & a {
              font-size: 2rem;
              color: $red;
              background-color: $yellow;
              transition: 0.5s ease;
              &:hover {
                color: #ffffff;
                background-color: $red;
              }
            }
          }
        }
      }
    }
  }
}
