.contact {
  padding: 50px 0;
  text-align: center;
  @media (max-width: 768px) {
    padding: 30px 0;
  }
}
.contact-form {
  display: flex;
  gap: 30px;
  background-color: #e5e5e5;
  border: none;
  margin-bottom: 50px;
  @media (max-width: 1024px) {
    gap: 20px;
  }
  @media (max-width: 768px) {
    flex-wrap: wrap;
    gap: 50px;
  }
}
.contact .form-body {
  border: none;
  padding: 0;
  width: calc((100% - 30px) / 2);
  @media (max-width: 1024px) {
    width: calc((100% - 20px) / 2);
  }
  @media (max-width: 768px) {
    margin: 0 auto;
    width: 80%;
  }
  @media (max-width: 425px) {
    width: 100%;
  }
}
.contact .form-body__item {
  background-color: #e5e5e5;
}
.contact .form-body__item:not(:last-child) {
  margin-bottom: 50px;
}
.contact-form__input {
  width: calc((100% - 30px) / 2);
  border: none;
  background-color: #e5e5e5;
  border-bottom: 1px solid #bdbdbd;
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans";
  resize: none;
  @media (max-width: 1024px) {
    width: calc((100% - 20px) / 2);
  }
  @media (max-width: 768px) {
    height: 182px;
    margin: 0 auto;
    width: 80%;
  }
  @media (max-width: 425px) {
    width: 100%;
  }
}
.contact .download-button {
  border: none;
  background-color: #ec7979;
}
.contact .download-button:hover {
  background-color: #ab4949;
  color: #ffffff;
}
.contact .download-button:active {
  background-color: #ec7979;
  box-shadow: inset 0px 0px 10px #ab4949;
}
