.awesome {
  padding: 50px 0px;
  background-color: #e5e5e5;
}
.awesome__article {
  font-size: 36px;
  line-height: 43px;
  font-weight: 400;
  text-align: center;
}
.separator {
  margin: 54px auto 40px auto;
  padding: 0px;
  height: 0px;
  border: none;
  border-top: 1px solid #ec7979;
  width: 170px;
}
.awesome__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 71px;
}
.awesome-reasons {
  display: flex;
  justify-content: space-between;
}
.awesome-reason {
  text-align: center;
}
.awesome-reason__picture {
  max-width: 170px;
  margin: 0px auto;
}
.awesome-reason__picture img {
  width: 100%;
  vertical-align: bottom;
}
.awesome-reason__head {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  padding: 33px 0px;
  max-width: 370px;
}
.awesome-reason__body {
  font-size: 18px;
  line-height: 22px;
  max-width: 370px;
}
