.axit-head {
  background-color: #000000;
  padding: 1px 0px;
}
.header-wrap {
  display: flex;
}
.header-logo {
  width: 75px;
}
.header-logo img {
  width: 100%;
  vertical-align: bottom;
}
.navigation {
  margin-left: auto;
}
.navigation-list {
  display: flex;
}
.navigation-list__item a {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 20px;
  padding: 28px;
  display: block;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}
.navigation-list__item:hover {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  background-color: #ec7979;
}
.navigation-list__item:active {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  background-color: #ab4949;
}
