.main-info {
  padding: 207px 0px 185px 0px;
}
.background {
  position: relative;
  overflow: hidden;
  height: 1000px;
  background: url("../images/image.jpg");
  background-size: cover;
  z-index: 3;
}
.background::before {
  background: rgba(0, 0, 0, 0.5);
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.main-content {
  display: flex;
  justify-content: space-between;
}
.main-text {
  max-width: 670px;
}
.main-text__logo {
  max-width: 270px;
  margin-bottom: 51px;
}
.main-text__logo img {
  width: 100%;
  vertical-align: bottom;
}
.main-text__slogan {
  font-size: 48px;
  font-weight: 500;
  line-height: 57px;
  color: #ffffff;
  margin-bottom: 56px;
}
.main-text__separator {
  padding: 0px;
  height: 0px;
  border: none;
  border-top: 1px solid #ffffff;
  width: 170px;
  margin-bottom: 42px;
}
.main-description {
  max-width: 270px;
}
.main-description__head {
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 42px;
  width: 100%;
}
.main-description__button {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  width: 100%;
  padding: 16px 0px;
  border: 2px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
}
.main-description__button:hover {
  border: 2px solid #ec7979;
  color: #ec7979;
}
.main-description__button:active {
  border: 2px solid #ab4949;
  background: #ab4949;
  color: #ffffff;
}
.main-form {
  max-width: 470px;
  align-self: flex-start;
  background-color: #ffffff;
  border-radius: 10px;
}
.main-form-body {
  border: none;
  padding: 30px 50px;
}
.main-form-body__head {
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 45px;
}
.free-text {
  color: #ec7979;
}
.main-form-body__item {
  padding-bottom: 16px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  font-size: 14px;
  line-height: 20px;
  font-family: "Open Sans";
}
.main-form-body__item:not(:last-child) {
  margin-bottom: 33px;
}
.main-form-body__button {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
  padding: 19px 0px;
  margin-top: 60px;
  width: 100%;
  border: none;
  background-color: #ec7979;
  color: #ffffff;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.main-form-body__button:hover {
  background-color: #ab4949;
}
.main-form-body__button:active {
  background-color: #ec7979;
  box-shadow: inset 0px 0px 10px #ab4949;
}
