.main-info {
  padding: 207px 0px 185px 0px;
  position: relative;
}
.main-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.main-bg img {
  width: 100%;
  height: 100%;
}
.main-bg::before {
  background: rgba(0, 0, 0, 0.5);
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}
.main-content {
  display: flex;
  justify-content: space-between;
}
.main-description {
  width: 58%;
}
.main-description__logo {
  max-width: 270px;
}
.main-description__logo img {
  width: 100%;
  vertical-align: bottom;
}
.main-description__slogan {
  position: relative;
  font-size: 48px;
  font-weight: 500;
  line-height: 57px;
  color: #ffffff;
  padding: 54px 0;
}
.main-description__slogan::after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 276px;
  border-bottom: 1px solid #ffffff;
  width: 170px;
}
.main-description__text {
  max-width: 270px;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 42px 0;
}
.download-button {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  width: 40%;
  padding: 16px 0px;
  border: 2px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
}
.download-button:hover {
  border: 2px solid #ec7979;
  color: #ec7979;
}
.download-button:active {
  border: 2px solid #ab4949;
  background-color: #ab4949;
  color: #ffffff;
}
.main-form {
  width: 40%;
  align-self: flex-start;
  background-color: #ffffff;
  border-radius: 10px;
}
.form-body {
  border: none;
  padding: 30px 50px;
}
.form-body__head {
  text-transform: uppercase;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 45px;
}
.free-text {
  color: #ec7979;
}
.form-body__item {
  padding-bottom: 16px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #bdbdbd;
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans";
}
.form-body__item:not(:last-child) {
  margin-bottom: 33px;
}
.main-form__button {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
  padding: 19px 0px;
  margin-top: 60px;
  width: 100%;
  border: none;
  background-color: #ec7979;
  color: #ffffff;
  cursor: pointer;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.main-form__button:hover {
  background-color: #ab4949;
}
.main-form__button:active {
  background-color: #ec7979;
  box-shadow: inset 0px 0px 10px #ab4949;
}
