.tabs {
  padding: 100px 0px 50px 0px;
  background-color: #e5e5e5;
}
.tabs-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.tabs-head {
  display: flex;
}
.tab {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  display: none;
}

.tab:checked:nth-of-type(1) ~ .tab-content:nth-of-type(1) {
  opacity: 1;
  position: relative;
  z-index: 100;
}
.tab:checked:nth-of-type(2) ~ .tab-content:nth-of-type(2) {
  opacity: 1;
  position: relative;
  z-index: 100;
}
.tab:checked:nth-of-type(3) ~ .tab-content:nth-of-type(3) {
  opacity: 1;
  position: relative;
  z-index: 100;
}
.tab + label {
  text-decoration: none;
  padding: 10px 83px;
  border-bottom: 1px solid #c6cbcd;
}
.tab:checked + label {
  border: 1px solid #c6cbcd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #e5e5e5;
}
.tab:hover + label {
  cursor: pointer;
}
.tab-content {
  position: fixed;
  z-index: -1;
  opacity: 0;
  display: flex;
  border-right: 1px solid #c6cbcd;
  border-bottom: 1px solid #c6cbcd;
  border-left: 1px solid #c6cbcd;
}
.tab-description {
  padding: 30px 0px 30px 100px;
  width: 55%;
  max-width: 670px;
}
.tab-description__head {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  margin-bottom: 60px;
}
.tab-description-text {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 27px;
}
.tab-description-text__item:not(:last-child) {
  margin-bottom: 20px;
}
.tabs .download-button {
  width: 48%;
  border: none;
  background-color: #ec7979;
}
.tabs .download-button:hover {
  background-color: #ab4949;
  color: #ffffff;
}
.tabs .download-button:active {
  background-color: #ec7979;
  box-shadow: inset 0px 0px 10px #ab4949;
}
.tab-content__image {
  width: 45%;
}
.tab-content__image img {
  vertical-align: bottom;
  width: 100%;
  object-fit: cover;
}
