.discounts {
  position: relative;
  padding: 150px 0;
  background-color: $yellow;
  &::before {
    content: "";
    position: absolute;
    top: 15%;
    right: 5%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $black;
  }
  @media (max-width: 1440px) {
    padding: 100px 0;
  }
  @media (max-width: 640px) {
    padding: 50px 0;
  }
  .h2 {
    @include h2;
    margin-bottom: 90px;
    @media (max-width: 1024px) {
      margin-bottom: 50px;
    }
    @media (max-width: 640px) {
      margin-bottom: 30px;
    }
  }
  &-wrap {
    display: flex;
    gap: 20px;
    &__item {
      width: calc((100% - 40px) / 3);
      @media (max-width: 1024px) {
        width: calc((100% - 20px) / 2);
      }
      &-image {
        margin-bottom: 15px;
      }
      &-description {
        @include p1;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        .crossed-out {
          text-decoration: line-through;
        }
      }
      &-button {
        @include button;
        padding: 10px 0;
        width: 100%;
        background-color: $bgcolor;
        &:active {
          background-color: $black;
          color: $bgcolor;
        }
        @media (max-width: 640px) {
          font-size: 1rem;
        }
      }
    }
  }
}
.swiper-slide {
  margin: 0 !important;
}
