.allbirds-section {
  padding: 60px 0 120px;
  text-align: center;
}
.subtitle--bold {
  font-weight: 700;
}
.section-buttons {
  margin-bottom: 120px;
}
.section-buttons button + button {
  margin-left: 24px;
}
.allbirds-section .button {
  background-color: #212a2f;
  border: 2px solid #212a2f;
  color: #ffffff;
}
.allbirds-section .button:hover {
  color: #212a2f;
  background-color: #ffffff;
}
.slider__head {
  text-align: left;
  margin-bottom: 24px;
}
.wrap {
  display: flex;
  justify-content: space-between;
}
