.allbirds-header {
  padding: 17px 0 14px;
  background-color: #ffffff;
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-list li + li {
  margin-left: 36px;
}
.navigation-list__item a {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 21px;
  color: #212a2f;
  text-decoration: none;
  letter-spacing: 1.7px;
}
.logo {
  width: 120px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.logo img {
  width: 100%;
}
.user-actions {
  display: flex;
  align-items: center;
}
.user-actions__icons {
  display: flex;
  align-items: center;
  margin-left: 18px;
}
.user-actions__icons * + * {
  margin-left: 18px;
}
.user-actions__icons-item {
  width: 30px;
  font-size: 25px;
  color: #212a2f;
}
.user-actions__icons-item:active {
  color: red;
}
