.join {
  padding: 48px 0;
  text-align: center;
}
.subtitle--long {
  max-width: 825px;
}
.button--short {
  width: 111px;
}
.allbirds-form {
  margin-bottom: 24px;
}
.allbirds-form * + * {
  margin-left: 12px;
}
.allbirds-form__item {
  position: relative;
  padding-left: 60px;
  width: 588px;
  height: 48px;
  border: none;
  border-bottom: 2px solid #212a2f;
}
.note {
  font-size: 14px;
  line-height: 14px;
  color: #74797c;
}
.note a {
  text-decoration: none;
  color: #74797c;
}
