.seasons-change {
  padding: 50px 0;
  text-align: center;
}
.seasons-change__bg {
  width: 100%;
}
.seasons-change__bg img {
  width: 100%;
}
.seasons-change-head {
  margin-top: 52px;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: 0.5px;
}
.seasons-change-text {
  margin-top: 54px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.seasons-change .men-women-buttons {
  margin-top: 30px;
}
.seasons-change .shop-button {
  background-color: #212a2f;
  border: 2px solid #212a2f;
  color: #ffffff;
}
.seasons-change .shop-button:hover {
  color: #212a2f;
  background-color: #ffffff;
}
