.tabs {
  padding: 100px 0;
  background-color: #ffffff;
  text-align: center;
}
.tab {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  padding: 10px 50px;
}
input[type="radio"] {
  display: none;
}
input:checked + .tab {
  border-bottom: 2px solid #000000;
}
input:hover + .tab {
  cursor: pointer;
}
input[type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1) {
  display: flex;
}
input[type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2) {
  display: flex;
}
input[type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3) {
  display: flex;
}
.tab-content {
  padding-top: 34px;
  display: none;
  justify-content: space-between;
  border-top: 2px solid #d3d4d5;
}
.tabs .image {
  position: relative;
}
.shop-buttons--vertical {
  width: 276px;
}
.shop-buttons--vertical button {
  width: 100%;
}
.shop-buttons--vertical button + button {
  margin: 12px 0 0;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tabs .image-description {
  padding: 0 30px;
}
.tabs .image-name {
  padding-bottom: 10px;
  border-bottom: 1px solid #d3d4d5;
}
.everyday-shop__description-info {
  display: flex;
  align-items: center;
}
.everyday-icon {
  width: 30px;
  margin-right: 12px;
}
.everyday-icon img {
  width: 100%;
}
.everyday-text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.4px;
}
