html {
  scroll-behavior: smooth;
}
body {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: $grey;
  background-color: #ffffff;
}
.container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}
