body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: $black;
  background-color: #ffffff;
}
.container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}
.section-name {
  @include section-name;
  @media (max-width: 1024px) {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
}
.title {
  @include title;
  @media (max-width: 1024px) {
    font-size: 1.5rem;
    margin-bottom: 40px;
    padding-bottom: 30px;
  }
  &::after {
    @media (max-width: 1024px) {
      width: 148px;
    }
    @media (max-width: 768px) {
      width: 132px;
    }
  }
}
.subtitle {
  @include subtitle;
  @media (max-width: 1024px) {
    font-size: 0.875rem;
    margin-bottom: 50px;
  }
  @media (max-width: 1024px) {
    margin-bottom: 20px;
  }
}
.description-head {
  @include description-head;
  @media (max-width: 1024px) {
    font-size: 1.125rem;
  }
}
.description {
  @include description;
  @media (max-width: 1024px) {
    font-size: 0.875rem;
  }
}
.occupation {
  @include occupation;
  display: block;
  @media (max-width: 1024px) {
    font-size: 0.875rem;
  }
}
.hover-gradient {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: $gradient;
  transition: 1s ease;
}
